<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:3000/">Главная</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render 'layouts/application/search' %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?%>
          <li>
            <%= link_to 'Добавить заведение', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
          </li>
          <li>
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Регистрация', new_user_registration_path, class: 'btn btn-default navbar-btn' %>
          </li>
          <li>
            <%= link_to 'Войти', new_user_session_path, class: 'btn btn-default navbar-btn' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>